:root {
  --months-per-year: 12;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
.title {
  text-align: center;
}
.grid-container {
  display: grid;
  place-items: center;
  grid-template-columns: 20px repeat(var(--months-per-year), 12px);
  gap: 4px;
  padding: 20px;
}
.header-row {
  display: contents;
}
.month-label {
  text-align: center;
  font-size: 12px;
}
.year-row {
  display: contents;
}
.month-cell {
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.month-cell.checked {
  background-color: lightgray;
}
.month-cell.current,
.month-cell.checked.current {
  background-color: lightcoral;
}
.year-label {
  text-align: right;
  font-size: 12px;
  line-height: 1;
}
